<!DOCTYPE HTML>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
	<h1>Hello World !</h1>
	<form:form method="post" modelAttribute="userForm" action="${userActionUrl}">
  		<form:input path="name" type="text" /> <!-- bind to user.name-->
		<form:errors path="name" />
  		<form:input type="submit" value="Submit" />
	</form:form>
	<h1>Hello !</h1>

</body>

</html>